.element__title-like {
    background-color: white;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding-left: 21px;
    padding-right: 19px;
}