.popup__form_login-register {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    padding: 0;
    width: 430px;
    height: 100%;
    color: #ffffff;
    align-items: center;
    background: none;
    margin: 0 auto;
}

@media screen and (max-width: 425px) {
    .popup__form_login-register {
        width: 238px;
        min-height: 300px;
        padding: 12px;
    }
}