.element__trash {
    width: 19px;
    height: 20px;
    background-image: url(../../../images/Trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #0000;
    position: absolute;
    top: 24px;
    right: 16px;
    cursor: pointer;
}

.element__trash:hover {
    opacity: 0.6;
    transition: linear 0.4s;
}