.element__like {
    width: 21px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.6;
    transition: linear 0.4s;
}