.popup__input_login-register {
    width: 358px;
    height: 57px;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #cccccc;
    background: none;
    color: #cccccc;
}

.popup__input_login-register:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .popup__input_login-register {
        width: 80%;
        height: 20px;
    }
}